@import '../../styles/colors';

.button {
  max-width: 180px;
  border: none;
  font-size: 1.6rem;
  font-weight: 900;
  background-color: $color-main;
  color: $color-white;
  transition: 0.3s ease-in-out;

  &:hover{
    background-color: $color-main-hover;
    box-shadow: 0 0 12px $color-main-hover;
  }
}