@import '../styles/colors';
@import '../styles/fonts';
@import '../styles/animations';


.bg-home{
  position: absolute;
  top: 0;
  width: 100%;
  height: 1000px;
  z-index: -1;
}

.introduction, .advantages {
  position: relative;
  width: 85%;
}

.introduction {
  background-size: cover;
  
  &__image{
    position: relative;
    max-width: 700px;
    
    img {
      width: 100%;
    }
  }
}


@media screen and (max-width: 768px){
  .introduction, .advantages {
    width: 100%;
  } 
}