@import '../../styles/colors';

.menu-responsive {
  position: absolute;
  width: 60%;
  height: 40%;
  background-color: $color-white;

  ul{

    li{
      text-align: center;

      a{
        font-size: 1.8rem;
        font-weight: 900;
        color: $color-secondary;
      }
    }
  }
}